
.textContainer::first-letter {
    color:grey;
    font-size: 2em;
    font-weight: bold;
    line-height: 0;
}

.link {
    color:black;
}

.subTitle {
    margin-top:-1em !important;
    color: lightgrey !important;
}

.mainContainer {
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    line-height: 2;
    font-size: 16px;
    hr {
        //background-color: whitesmoke;
        padding: .25em;
        border-radius: 1em;
    }
    h1 {
        text-shadow: 1px 1px lightgrey;
        //margin-bottom: .5em;
        font-size: 1.75em;
        border-bottom: 1em solid whitesmoke;
        &::first-letter {
            color:black;
            font-size: 2.5em;
            font-weight: bold;
            line-height: 0;
        }
    }
    
}