
.textContainer::first-letter {
    color:black;
    font-size: 3em;
    font-weight: bold;
    line-height: 0;
}

.link {
    color:black;
}

.subTitle {
    margin-top:-1em !important;
    color: lightgrey !important;
}

.mainContainer {
    hr {
        background-color: grey;
        padding: .25em;
        border-radius: 1em;
    }
}