.mainContainer {
  //border-right: 0.5em solid whitesmoke;
  border-top: 1em solid whitesmoke;
  min-height: 75vh;
  overflow-y: scroll;
  li {
    font-size: .85em;
  }
  .mainContent {
    padding: 3em;
    
    min-height: 78vh;
    max-height: 78vh;
  }
  ul {
      background: whitesmoke;
  }
}
