
.backButton {
    font-size: 2em;
    color: grey;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    &:hover {
        color:white;
        cursor: pointer;
        font-size: 2.5em;
    }
}