

.iconBar {
    border-right: 1px solid black;
    height:100vh;
    padding: .5em;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
    background-color: lightgrey;
}

.iconHolder {
    display: block;
    margin-bottom: .5em;    
}