

.iconBar {
    border-right: 1px solid black;
    height:100vh;
    padding: .5em;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
    background-color: lightgrey;
    p {
        writing-mode: vertical-lr;
        text-orientation: upright; 
    }
}

.iconHolder {
    display: block;
    margin-bottom: 1em;
    &:first-child {
        margin-top: 10em;
    }    
}