

.titleBox {
    border-right: .15em solid rgb(235, 233, 233);
    margin-right: 3em;
}

.rightTop {
    border-bottom: 2px solid lightgrey;
}

.contentBox {
    padding-right: 2em;
    text-align: justify;
}