

.header {
    background: url("../../images/min_backgr.png") no-repeat fixed center !important;
}

.baseHeader {
    padding-top: 6em;
    
}

.heroEnd {
    border-bottom: 2px solid grey;
    padding-bottom: 2em;
}

.imageHolder {
    max-width: 20em !important;
    max-height: 20em !important;
}