

.header {
    padding-top:10em;
    padding-bottom:10em;
    background: url("../../images/min_backgr.png") no-repeat fixed center !important;
}

.baseHeader {
    padding-top: 6em;
    
}

.heroEnd {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 2em;
    width: 75% !important;
}

.imageHolder {
    max-width: 20em !important;
    max-height: 20em !important;
}