
.summaryContainer {
    border-left: .15em solid lightgrey;
    min-height: 85vh;
    h2 {
        border-bottom: 2px solid #f36;
    }
    .summaryContent {
        padding: 5em;
        overflow-y: scroll;
    }
}

